html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
body {
  background-image: url(https://i.pinimg.com/originals/69/dd/df/69dddf312179c2e550190fb4be8148c2.jpg);
  font-family: "Dancing Script", cursive;
  font-size: 1rem;
  background-repeat: no-repeat;
  overflow: auto;
  background-size: cover;
  background-position: center center;
}
h1 {
  text-align: center;
  font-size: 4rem;
}
p {
  text-align: left;
  font-size: 1.3rem;
}
#description {
  text-align: center;
}
#survey-form {
  width: 60%;
  margin: 1rem auto 0 auto;
  background-color: hsla(16, 75%, 74%, 0.95);
  padding-top: 1rem;
  padding-bottom: 0.3rem;
  border-radius: 0.25rem;
}
label {
  display: block;
  font-size: 2rem;
}
.form-group {
  font-size: 1.125rem;
  display: block;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  
}
#mood{
    display: block;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
#description_mood{
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}
.form-control {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  display: block;
}
#name,
#email,
#number_age,
#number_poid,
#type-label,
#date_anniversaire,
#comments,
button {
  background-color: white;
  color: #231911;
  font-size: 1.1rem;
  width: 100%;
  height: 2rem;
  border: 1px solid #ced4da;
  border-radius: 0.3rem;
}
#type-label {
  background-color: white;
}
#comments {
  resize: vertical;
}
button {
  background-color: #d4f78e;
  font-family: "Dancing Script", cursive;
  font-size: 1.4rem;
  color: #231911;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
}

@media (max-width: 578px) {
  #survey-form {
    width: 100%;
    margin: 0;
  }
}
